extends ../layout 

block content 
    if error
        p(class="error")= error
    if usuario
        h2 Modificar usuario
        form(action="/usuario/"+usuario.id_usuario, method="post")
            label(for="nombre_usuario") Nombre
            input(id="nombre_usuario" type="text" name="nombre_usuario" value=usuario.nombre_usuario)
            label(for="password_usuario") Password 
            input(id="password_usuario" type="password" name="password_usuario" value=usuario.password_usuario)
            button(type="submit") GUARDAR