extends ../layout

block content
    h1 lista de vendedores
    
    if error 
        p(class="error")= error
    if data
        ul
            each vendedor in data 
                li
                    a(href="/vendedor/"+vendedor.vendedor_id)= vendedor.name
                    a(href=`/vendedor/${vendedor.vendedor_id}/update`) 
                        button Editar
                    form(action=`/vendedor/${vendedor.vendedor_id}/remove`, method="post") 
                        button(type="submit") Borrar
    a(href="/vendedor/new")
        button Nuevo