extends ../layout

block content 
    form(action="/vendedor", method="post") 
        label(for="name")  Nombre 
        input(id="name" type="text" name="name") 
        label(for="origen")  Origen
        input#origen(type="text", name="origen")
        label(for="categoria")  Categoria
        input#categoria(type="checkbox", name="categoria")  
        button(type="submit") Crear

