extends ../layout

block content 
    form(action="/vendedor", method="post") 
        label(for="nombre_vendedor")  Nombre 
        input(id="nombre_vendedor" type="text" name="nombre_vendedor") 
        label(for="origen_vendedor")  Origen
        input(id="origen_vendedor" type="text", name="origen_vendedor")
        label(for="categoria_vendedor")  Categoria
        input(id="categoria_vendedor" type="checkbox", name="categoria_vendedor")  
        button(type="submit") CREAR NUEVO