extends ../layout

block content 
    if error
        p(class="error")=error 
    if cliente 
        h2="Id:" + cliente.id_cliente + " " + cliente.nombre_cliente + " " + cliente.apellido_cliente
        //- if cliente.apellido_cliente
        if cliente.membresia_cliente
            p Tipo de membresía: #{cliente.membresia_cliente}    
            p Su dirección es: #{cliente.direccion_cliente}
    a(href="/cliente")
        button Volver   