html 
    head
        link(rel="stylesheet" href="css/styles.css")
        block title

    body
        include navbar
        block content
            h1(
                class="layout-title"
				id="titulo" 
			) Bienvenida a Strafalarius!